<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Catalog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/create">Create Product</a>
      </li>
    </ul>
    <ul class="navbar-nav pull-right">
      <li class="nav-item"><a id="login" href="/login" class="nav-link">Login</a></li>
      <li class="nav-item"><a id="register" href="/register" class="nav-link">Register</a></li>
      <li class="nav-item"><a id="logout" href="/logout" class="nav-link d-none">Logout</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
