<input id="search" #filter (input)="filterProducts(filter.value)" placeholder="Search..">
<ul>
  <li *ngFor="let product of filteredProducts" class="picList">
    <h4>{{product.name}}</h4>
    <a routerLink="/details/{{product.id}}">
      <img src="{{product.image}}"></a>
    <p>Price: {{product.price}}</p>
      <div id="data-buttons">
        <button class="btn btn-info" routerLink="/update/{{product.id}}">Edit</button>
        <button class="btn btn-danger" (click)="remove(product)">Delete</button>
      </div>
  </li>
</ul>
