h3 {
  margin-left: 70px;
}
img {
  width: 400px;
  height: 210px;
  margin-left: 70px;
  margin-right: 15px;
  float:left;
}
span {
  height: 10px;
}
.details {
  height: auto;
  padding: 0px 200px;
  line-height: 20px;
  word-wrap: break-word;
}
