<h2>Edit Product</h2>
<form>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-control-label" for="username">Name</label>
        <input class="form-control" id="username" type="text" name="username" [(ngModel)]="product.name">
      </div>
      <div class="form-group">
        <label class="form-control-label" for="description">Description</label>
        <input class="form-control" id="description" type="text" name="description" [(ngModel)]="product.description">
      </div>
      <div class="form-group">
        <label class="form-control-label" for="image">Image</label>
        <input class="form-control" id="image" type="text" name="image" [(ngModel)]="product.image">
      </div>
      <div class="form-group">
        <label class="form-control-label" for="price">Price</label>
        <input class="form-control" id="price" type="number" name="price" [(ngModel)]="product.price">
      </div>
      <button (click)="goBack()">Back</button>
      <button class="btn btn-primary" (click)="save()">Save</button>
    </div>
  </div>
</form>

